#messages {
	flex: 1;
	padding: 0 10px
}

#messages .message-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#messages .message-list>li>section {
	border-bottom: 1px solid #AAA;
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	max-height: 10em;
	transition: max-height 1s;
}
#messages .message-list>li>section.hidden {
	margin: 0;
	overflow: hidden;
	max-height: 0;
}

#messages .logo {
	width: 35px;
	heigh: 35px;
}

#messages .message {
	margin-right: auto;
}
